.ul {
    list-style-type: none;
    right: 0;
    position: relative;
}
li {
    float: left;
    margin: 20px;
}
.cardbody {
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.jumbotron {
    font-family:Georgia, 'Times New Roman', Times, serif
}